.mainHeader{
  text-align: center;
  font-size: 3rem;
  color: #505050;
}

.signInFlex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.signUpWrapper{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signUpHeader{
  text-align: center;
  color: #505050;
  font-size: 2rem;
  margin: .2rem;
  padding: .2rem;
}

@media (max-width: 769px) {
  .signUpHeader{
    font-size: 1.5rem;
  }
  .signUpWrapper{
    width: 90%;
    justify-content: center;
  }
}