*{
  box-sizing: border-box;
}

.garageWrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.garageSidebar{
  width: 25%;
  padding-top: 1rem;
}

.garageMain{
  width: 50%;
}

.garagePageTitle{
  text-align: center;
  color: #505050;
}

.vehicleLinksSidebar{
  display: flex;
  justify-content: flex-end;
}

.vehicleBoxLink{
  color: #424ea1;
  margin-bottom: 1.5rem;
  cursor: default;
}



@media (max-width: 769px) {
  .garageSidebar{
    width: 100%;
    text-align: center;
    justify-items: center;
    align-items: center;
  }
  
  .garageMain{
    width: 100%;
  }
}