.vehicleInfoBox{
  box-sizing: border-box;
  background-color: white;
  border: solid #505050 1px;
  border-radius: 3px;
  box-shadow: #505050 1px 2px;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1.5rem;
}

.maintenanceDisplayImg{
  width: 25%;
  height: auto;
  margin: 1rem;
  margin-right: 3rem;
}

.maintenanceDisplayTitle{
  color: #505050;
  font-size: 1.5rem;
  font-weight: 600;
}

.maintenanceDisplayText{
  color: #505050;
  margin-bottom: .25rem;
}

.maintenanceDisplayTopInfo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.maintenanceDisplayMoreInfo{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: space-between;
  border-bottom: #505050 solid 1px;
}

.maintenanceDisplayLink:hover{
  color: #3a458f;
  cursor: default;
  text-shadow: #3a458f 1px 1px;
}

.maintenanceDisplayLinkRed{
  color: red;
  margin-bottom: .25rem;
  cursor: default;
}

.maintenanceDisplayLinkRed:hover{
  color: rgb(190, 3, 3);
  cursor: default;
  text-shadow: rgb(190, 3, 3) 1px 1px;
}

.maintenanceDisplayLinkContainer{
  align-self: baseline;
}

@media(max-width: 769px) {

}